{% block one %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">
            <form method="get">
                <button type="submit" class="btn btn-outline-secondary" name="sort__name_app">Name</button>
            </form>
        </th>
        <th scope="col">
            <form method="get">
                <button type="submit" class="btn btn-outline-secondary" name="sort__company">Company</button>
            </form>
        </th>
        <th scope="col">
            <form method="get">
                <button type="submit" class="btn btn-outline-secondary" name="sort__email">Email</button>
            </form>
        </th>
        <th scope="col">
            <form method="get">
                <button type="submit" class="btn btn-outline-secondary" name="sort__release">Release</button>
            </form>
        </th>
    </tr>
    </thead>
    <tbody>
    <div class="d-flex justify-content-end">
        <a href="{% url 'main' %}?page_elem=10" class=" {% if filters.page_elem == '10' %} text-info {% else %} text-secondary {% endif%} mr-3 "> 10 </a>
        <a href="{% url 'main' %}?page_elem=20" class=" {% if filters.page_elem == '20' %} text-info {% else %} text-secondary {% endif%} mr-3"> 20 </a>
        <a href="{% url 'main' %}?page_elem=50" class=" {% if filters.page_elem == '50' %} text-info {% else %} text-secondary {% endif%} mr-3"> 50 </a>
    </div>
    {% for app in object_list %}
    <tr>
        <th scope="row">{{app.name_app}}</th>
        <td>{{app.company}}</td>
        <td>{% if app.email %}{{app.email}}{% else %} - {% endif %}</td>
        <td>{{app.release}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div >
{% include 'paginator.html' %}
{% block pagi %}
{% endblock %}
{% endblock %}



